{% extends "base.html" %}
{% block title %}Description — SoCoLab Experiment 2023 {% endblock %}


{% block content %}

<h1>Description</h1>

<p>The experiment consists of 3 parts</p>

<h2>Part 1: Work Choices under Flat Tax</h2>
    <p>This part consists of 12 tasks of "work choices" under the context of flat tax.
    <br><b>Time: </b>5-7 minutes.</p>
    <!-- Tasks for Part 1 -->
    
    <h2>Part 2: Work Choices under Progressive Tax</h2>
    <p>This part consists of 12 tasks of "work choices" under the context of progressive tax.
    <br><b>Time: </b>5-7 minutes.</p>
    
    <!-- Tasks for Part 2 -->
    
    <h2>Part 3: Questionnaire</h2>
    <p>We will ask you to fill a questionnaire for our research.
    <br><b>Time: </b>5 minutes.</p>
    
    <!-- Questionnaire -->

<!-- <img src="{{ url_for ('static', filename='assets/General_rules.png')}}">     -->

<a href="/model">
<button class="next" type="button">Let's go!</button>
</a> 


{% endblock %}