{% extends "base.html" %}
{% block title %}SoCoLab Experiment 2023 {% endblock %}


{% block content %}


<h1>Welcome to the experiment! :D </h1>

<p>We are conducting research for a seminar project on Economic Policy and Constitutional Economic Theory.
    <p>This experiment is anonymous, we will not share any of your answers or data with others. </p> 
    <p>All results will be collected and analyzed for educative and scientific purposes. The estimated duration of this experiment is about 20 minutes. </p>
    <p>You will be provided with further instructions along with the experiment.</p>
    <p>We hope that you will have fun!</p>
     
<a href="/description">
<button class="next" type="button">Start</button>
</a>    


{% endblock %}