{% extends "base.html" %}
{% block title %}Model description | SoCoLab Experiment 2023 {% endblock %}


{% block content %}
<h1>Social Model Description - Round 1</h1>
    
<p>You are a member of the society of {{group_size}} individuals where everyone is engaged in 4 types of activities:</p>
<table>
    <tr>
        <td><b>Paid complex work</b>
            <br>Multiplication within one hundred ({{wage_high}}€/month)</td>
        <td><b>Paid simple work</b> 
            <br>Addition within ten ({{wage_low}}€/month)</td>
    </tr>
    <tr>
        <td><b>Unpaid work</b>
            <br> Choices of 2 scenarios for unpaid work in reality
        </td>
        <td><b>Not working</b>
            <br>Enjoy a landscape photo
        </td>
    </tr>
</table>

<p>If you make a mistake in maths tasks, you will receive only a <b>half of wage</b>. You can decide your work choice for each of 12 months per year (h = completed tasks).</p>

<p>In this round of the game, there will be a <b>flat tax of {{(flat_tax_rate*100)|int}}%</b>, that will be applied to the wages of the {{number_of_questions_per_stage}} tasks.</p>

{% if model=="UBI" %}

<p>Each month you will receive a fixed payment (G) of <b>{{amount_UBI}}€</b> from the state regardless of your involvement in paid work.
</p>

<table>
    <tr>
        <th>Tax rate</th>
        <th>Maximum tax</th>
    </tr>
    <tr>
        <td>{{(flat_tax_rate*100)|int}}%</td>
        <td>{{(wage_high*number_of_questions_per_stage*flat_tax_rate)|round|int}} €</td>
    </tr>
</table>

<p>The gross income I, payoff 𝜋, and income tax T from the first round of the game will be presented after completing {{number_of_questions_per_stage}} tasks.</p>

{% elif model=="WS" %}
<p>Note: Taxed are only applied on the part where <b>payoff exceeds</b> {{cutoff_income_low}} € ({{cutoff_income_low}} € is the tax threshold), which is approximately equal to choosing 7 simple work tasks in this round of the game.</p>

<p>In addition to your wage from paid work the state gives you a <b>{{(subsidy_rate_WS * 100)|int}}% subsidy to your wage</b> each time when you choose paid work.</p>

<table>
    <tr>
        <th>Portion of taxable income</th>
        <th>Tax rate</th>
        <th>Maximum tax</th>
    </tr>
    <tr>
        <td>Up to {{cutoff_income_low}} €</td>
        <td>0%</td>
        <td>0 €</td>
    </tr>
    <tr>
        <td>Greater than {{cutoff_income_low}} €</td>
        <td>{{(flat_tax_rate*100)|int}}%</td>
        <td>{{(wage_high*number_of_questions_per_stage*flat_tax_rate)|round|int}} €</td>
    </tr>
</table>

<p>The gross income, payoff, and income tax from the first round of the game will be presented after completing {{number_of_questions_per_stage}} tasks.</p>

{% else %}

<p>Each month you will receive a fixed payment (G) of <b>{{amount_UBIWS}}€</b> from the state regardless of your involvement in paid work. Additionally, you would receive a wage subsidy (s) of <b>{{(subsidy_rate_UBIWS*100)|int}}%</b> from the state based on the income from paid work.
</p>

<table>
    <tr>
        <th>Portion of taxable income</th>
        <th>Tax rate</th>
        <th>Maximum tax</th>
    </tr>
    <tr>
        <td>Up to {{cutoff_income_low}} €</td>
        <td>0%</td>
        <td>0 €</td>
    </tr>
    <tr>
        <td>Greater than {{cutoff_income_low}} €</td>
        <td>{{(flat_tax_rate*100)|int}}%</td>
        <td>{{(wage_high*number_of_questions_per_stage*flat_tax_rate)|round|int}} €</td>
    </tr>
</table>

<p>The gross income I, payoff 𝜋, and income tax T from the first round of the game will be presented after completing {{number_of_questions_per_stage}} tasks.</p>

{% endif %}
<p><a href="/choice">
    <button class="next" type="button">To work</button>
</a> 
</p>



{% endblock %}